<tr class="assignment_submit-<%= assignment_submit.id %> trow" >
  <td class="email">
    <%= assignment_submit.user.email %>
  </td>
  <td class="updated_at">
    <%= assignment_submit.updated_at.strftime t("date.formats.default") %>
  </td>
  <td>
    <% if can? :update, assignment_submit %>
      <td class="action">
        <a data-toggle="modal" data-target="#submit-assignment-modal"
          href="#"
          data-assignment-submit-id="<%= assignment_submit.id %>"
          data-assignment-submit-content="<%= assignment_submit.content %>"
          data-assignment-id="<%= assignment_submit.assignment_id %>"
          data-assignment-class="<%= assignment_submit.class_room_id %>"
          data-assignment-policy="<%= assignment_submit.policy %>"
          class="edit-submit-assignment">
          <%= t "form.buttons.edit" %>
        <%= link_to t("form.buttons.delete"),
          class_room_assignment_submit_path(assignment_submit.class_room_id,
            assignment_submit),
          remote: true, data: {confirm: t("form.confirmation")},
          method: :delete, class: "icon icon-delete delete-assignment" %>
      </td>
    <% end %>
  </td>
</tr>
