<%= render "shared/errors_messages", object: answer.object %>
<div class="row">
  <div class="col-md-12">
    <div class="form-group col-md-5">
      <%= answer.label :content %>
      <%= answer.text_field :content, class: "form-control" %>
    </div>
    <div class="form-group col-md-3">
      <%= answer.label :correct %>
      <%= answer.check_box :correct, class: "checkbox answer-checkbox" %>
    </div>
    <div class="form-group col-md-4">
      <%= answer.link_to_remove "", class: "glyphicon glyphicon-remove" %>
    </div>
  </div>
</div>
