<%= nested_form_for @class_room do |f| %>
  <%= f.fields_for :questions, wrapper: true do |question| %>
    <%= question.hidden_field :course_id, value: @class_room.course.id %>
    <%= render "shared/errors_messages", object: question.object %>
    <div class="form-group">
      <%= question.label :name %>
      <%= question.text_field :name, class: "form-control question-name" %>
    </div>
    <div class="form-group">
      <%= question.label :question_type %>
      <%= question.select :question_type,
        options_from_collection_for_select(
        i18n_enum(:questions, :question_type), :key, :value,
        question.object.question_type), {},
        class: "form-control question-type" %>
    </div>
    <div class="form-group">
      <%= question.label :priority %>
      <%= question.select :priority,
        options_from_collection_for_select(
        i18n_enum(:questions, :priority), :key, :value,
        question.object.priority), {}, class: "form-control" %>
    </div>

    <%= question.fields_for :answers, wrapper: true do |answer| %>
      <%= render "answer_field", answer: answer %>
    <% end %>
    <p>
      <%= question.link_to_remove t("questions.actions.remove_question") %>
    </p>
    <p>
      <%= question.link_to_add t("questions.actions.add_answer"), :answers %>
    </p>
  <% end %>
  <p>
    <%= f.link_to_add t("questions.actions.add_question"), :questions %>
  </p>

  <%= f.submit t("form.buttons.save"),
    data: {disable_with: t("form.buttons.saving")},
    class: "btn btn-primary pull-right" %>
<% end%>
