<%= form_for [@class_room, @team] do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-9">
        <%= render "shared/errors_messages", object: @team %>
        <%= f.hidden_field :class_room_id, value: @class_room.id %>
        <h3><%= t "teams.team" %></h3>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <h3><%= t "teams.members" %></h3>
        <%= f.collection_check_boxes :user_ids, @members, :id, :email do |b| %>
          <span>
            <%= b.label do %>
              <%= b.check_box %>&nbsp;
              <%= b.text %>&nbsp;
            <% end %>
          </span>
          <div class="form-group">
            <%= f.submit t("form.buttons.save"),
              class: "btn btn-primary text-right" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
<% end %>
