<div id="new-class-modal" class="modal fade" role="dialog"
  data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <%= form_for [:admin, @class_room], remote: true, class: "col-md-12" do |f| %>
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h4 class="modal-title">
            <%= t "class_rooms.actions.new" %>
          </h4>
        </div>

        <div class="modal-body">
          <div class="row">
            <div id="errors-new-class_room"></div>

            <div class="col-md-12">
              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.uid"), class: "control-label" %>
                  <%= f.text_field :uid, class: "form-control",
                    required: true, autofocus: true %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.name"), class: "control-label" %>
                  <%= f.text_field :name, class: "form-control",
                    required: true, autofocus: true %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.status"), class: "control-label" %>
                  <%= f.select :status, options_from_collection_for_select(
                    i18n_enum(:class_room, :status), :key, :value, f.object.status), {},
                    class: "form-control" %>
                </div>
              </div>

              <div class="col-md-3">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.type"), class: "control-label" %>
                  <%= f.select :class_type, options_from_collection_for_select(
                    i18n_enum(:class_room, :class_type), :key, :value, f.object.class_type),
                    {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.max_student"), class: "control-label" %>
                  <%= f.number_field :max_student, class: "form-control",
                    required: true, autofocus: true %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <% if params[:controller] == "admin/courses" || params[:course_id].present? %>
                    <%= f.hidden_field :course_id, value: @course.id %>
                  <% else %>
                    <div class="form-group">
                      <%= f.label t("class_rooms.fields.course"), class: "control-label" %>
                      <%= f.select :course_id, options_from_collection_for_select(@courses,
                    "id", "uid"), {}, class: "form-control" %>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.semester"), class: "control-label" %>
                  <%= f.select :semester_id, options_from_collection_for_select(@semesters,
                    "id", "name"), {}, class: "form-control" %>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label t("class_rooms.fields.description"), class: "control-label" %>
                  <%= f.text_area :description, class: "form-control",
                    required: true, autofocus: true %>
                </div>
              </div>
            </div>

            <hr>
            <div class="col-md-12">
              <div class="col-md-12">
                <div class="form-group">
                  <%= f.label "Teacher", class: "control-label" %>
                  <%= f.text_field :teacher, class: "form-control" %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <%= f.submit t("form.buttons.save"),
            data: {disable_with: t("form.buttons.saving")},
            class: "btn btn-primary" %>
          <%= link_to t("form.buttons.cancel"), "javascript:void(0)",
            data: {dismiss: "modal"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>
