<div id="class_rooms">
  <div class="box box-success box-solid">
    <%= render "admin/class_rooms/header" %>
  </div>

  <table class="class_rooms table table-header">
    <thead>
      <tr>
        <th><%= t "class_rooms.fields.uid" %></th>
        <th><%= t "class_rooms.fields.name" %></th>
        <th><%= t "class_rooms.fields.description" %></th>
        <th><%= t "class_rooms.fields.status" %></th>
        <th><%= t "class_rooms.fields.type" %></th>
        <th><%= t "class_rooms.fields.semester" %></th>
        <th><%= t "class_rooms.fields.course" %></th>
        <th><%= t "class_rooms.fields.max_student" %></th>
        <th><%= t "class_rooms.fields.registered_student" %></th>
        <th><%= t "class_rooms.fields.enroll_key" %></th>
      </tr>
    </thead>
    <tbody class="tbody">
      <%= render "admin/class_rooms/class_room", class_rooms: @class_rooms %>
    </tbody>
  </table>
</div>
