<% if assignment.id.present? %>
  <tr class="assignment-<%= assignment.id %> trow">
    <td class="name">
      <a data-toggle="modal" data-target="#show-assignment-modal"
        href="#"
        data-assignment-id="<%= assignment.id %>"
        data-assignment-name="<%= assignment.name %>"
        data-assignment-content="<%= assignment.content %>"
        data-assignment-start-date="<%= assignment.start_date.strftime(t "date.formats.default") %>"
        data-assignment-end-date="<%= assignment.end_date.strftime(t "date.formats.default") %>"
        data-assignment-type="<%= t "assignments.assignment_types.#{assignment.assignment_type}" %>"
        data-type="<%= assignment.assignment_type %>"
        data-assignment-class="<%= assignment.class_room.id %>">
        <%= assignment.name %>
      </a>
    </td>
    <td class="start_date"><%= assignment.start_date.strftime(t "date.formats.default") %></td>
    <td class="end_date"><%= assignment.end_date.strftime(t "date.formats.default") %></td>
    <% if can? :update, assignment %>
      <td class="action">
        <a data-toggle="modal" data-target="#new-assignment-modal"
          href="#" class="assignment-edit"
          data-assignment-id="<%= assignment.id %>"
          data-assignment-name="<%= assignment.name %>"
          data-assignment-content="<%= assignment.content %>"
          data-assignment-start-date="<%= assignment.start_date.strftime(t "date.formats.default") %>"
          data-assignment-end-date="<%= assignment.end_date.strftime(t "date.formats.default") %>"
          data-assignment-type="<%= assignment.assignment_type %>"
          data-assignment-class="<%= assignment.class_room.id %>">
          <%= t "form.buttons.edit" %>
        </a>
        <%= link_to t("form.buttons.delete"),
          class_room_assignment_path(assignment.class_room, assignment),
          remote: true, data: {confirm: t("form.confirmation")},
          method: :delete, class: "icon icon-delete delete-assignment" %>
      </td>
    <% end %>
    <td>
      <a class="btn btn-primary" role="button" data-toggle="collapse"
        href="#all-submit-assignment-<%= assignment.id %>"
        aria-expanded="false" aria-controls="collapseExample">
        <%= t "assignments.actions.see_more" %>
      </a>
      <div class="collapse" id="all-submit-assignment-<%= assignment.id %>">
        <div class="well">
          <div id="assignment_submits">
            <table class="assignment_submits table table-hover">
              <thead>
                <tr>
                  <th data-field="user">
                    <strong>
                      <%= t "assignment_submits.fields.user" %>
                    </strong>
                  </th>
                  <th data-field="updated_at">
                    <strong>
                      <%= t "assignment_submits.fields.updated_at" %>
                    </strong>
                  </th>
                  </th>
                  <th class="action">
                    <strong><%= t "assignments.fields.action" %><strong>
                  </th>
                </tr>
              </thead>
              <tbody class="tbody">
                <%= render assignment.assignment_submits %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </td>
  </tr>
<% end %>
