<% if assignment.id.present? && ((current_user.student? &&
  can_see_assignment?(assignment)) || current_user.lecturer?) %>
  <div class="element-item assignment-<%= assignment.id %>"
    data-start="<%= assignment.start_time %>"
    data-end="<%= assignment.end_time %>">
    <% if assignment.closed? %>
      <div class="box box-default box-solid">
    <% elsif assignment.opening? %>
      <div class="box box-success box-solid">
    <% else %>
      <div class="box box-info box-solid">
    <% end %>
      <div class="box-header">
        <h3 class="box-title name">
          <%= link_to assignment.name, class_room_assignment_path(@class_room, assignment) %>
        </h3>
      </div>

      <div class="box-body">
        <%= link_to image_tag("assignment.png"), class_room_assignment_path(@class_room, assignment) %>
      </div>

      <div class="box-footer">
        <div class="start_date">
          <%= t "assignments.fields.start_date" %>:
          <strong>
            <%= assignment.start_time.strftime(t "datepicker.time.default") %>
          </strong>
        </div>
        <div class="end_date">
          <%= t "assignments.fields.end_date" %>:
          <strong>
            <%= assignment.end_time.strftime(t "datepicker.time.default") %>
          </strong>
        </div>
      </div>

    </div>
  </div>
<% end %>
