<% if assignment.id.present? %>
  <div class="element-item assignment-<%= assignment.id %>"
    data-type="<%= assignment.assignment_type %>"
    data-start="<%= assignment.start_time %>"
    data-end="<%= assignment.end_time %>">
    <div class="box box-success box-solid">
      <div class="box-header">
        <h3 class="box-title name">
          <%= link_to assignment.name, class_room_assignment_path(@class_room, assignment) %>
        </h3>

        <div class="box-tools pull-right type">
          <%= t "assignments.assignment_types.#{assignment.assignment_type}" %>
        </div>
      </div>

      <div class="box-body">
        <%= link_to image_tag("assignment.png"), class_room_assignment_path(@class_room, assignment) %>
      </div>

      <div class="box-footer">
        <div class="start_date">
          <%= t "assignments.fields.start_date" %>:
          <strong>
            <%= assignment.start_time.strftime(t "datepicker.time.default") %>
          </strong>
        </div>
        <div class="end_date">
          <%= t "assignments.fields.end_date" %>:
          <strong>
            <%= assignment.end_time.strftime(t "datepicker.time.default") %>
          </strong>
        </div>
      </div>

    </div>
  </div>
<% end %>
