<div class="row">
  <div class="col-md-6">
    <div class="info-box bg-yellow">
      <span class="info-box-icon">
        <i class="ion-ios-cloud-upload"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">
          <%= t "assignments.titles.number_assignment_submits" %>
        </span>
        <span class="info-box-number">
          <%= assignment.assignment_histories.size %>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="info-box bg-green">
      <span class="info-box-icon">
        <i class="ion-person-stalker"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">
          <%= t "assignments.titles.number_submitted_students" %>
        </span>
        <span class="info-box-number">
          <%= @number_submitted_students.nil? ? 0 : @number_submitted_students %>
        </span>

        <div class="progress">
          <div class="progress-bar" style="width: <%= @percent_submited_student %>%"></div>
        </div>
        <span class="progress-description">
          <%= t "assignments.titles.percent", percent: @percent_submited_student %>
        </span>
      </div>
    </div>
  </div>

  <section class="col-lg-6 connectedSortable ui-sortable">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">
          <strong><%= assignment.name %></strong>
        </h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <% if can? :manage, assignment %>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to t("form.buttons.edit"),
                    edit_class_room_assignment_path(@class_room, assignment) %>
                </li>
                <li>
                  <%= link_to t("form.buttons.delete"),
                    class_room_assignment_path(@class_room, assignment), method: :delete %>
                </li>
              </ul>
            </div>
          <% end %>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <p>
          <%= assignment.content %>
        </p>
      </div>
    </div>
  </section>

  <section class="col-lg-6 connectedSortable ui-sortable">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">
          <%= t "assignments.actions.see_more" %>
        </h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
          <% if can? :create, AssignmentSubmit %>
            <div class="btn-group">
              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <%= link_to t("assignment_submits.actions.new"),
                    new_assignment_assignment_submit_path(assignment) %>
                </li>
              </ul>
            </div>
          <% end %>
          <button type="button" class="btn btn-box-tool" data-widget="remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div id="assignment_submits_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
          <div class="row">
            <div class="col-sm-12">
              <table id="assignment_submits"
                class="table table-bordered table-striped dataTable"
                role="grid" aria-describedby="assignment_submits_info">
                <thead>
                  <tr role="row">
                    <th>
                      <%= t "assignment_submits.fields.title" %>
                    </th>
                    <th>
                      <%= t "assignment_submits.fields.user" %>
                    </th>
                    <th>
                      <%= t "assignment_submits.fields.updated_at" %>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% assignment.assignment_submits.each_with_index do |assignment_submit, index| %>
                    <tr role="row" class=<%= index.odd? ? "odd" : "even" %>>
                      <td><%= link_to assignment_submit.title, [assignment, assignment_submit] %></td>
                      <td><%= link_to assignment_submit.user.username, assignment_submit.user %></td>
                      <td>
                        <%= assignment_submit.updated_at.strftime(t "datepicker.time.default") %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
