<div class="col-md-6">
  <div class="row">
    <%= form_for [@class_room, @assignment], remote: true do |f| %>
      <div id="errors-create-assignment"></div>

      <%= f.hidden_field :class_room_id %>

      <div class="form-group">
        <%= f.label :name, t("assignments.fields.name"), class: "control-label" %>
        <%= f.text_field :name, class: "form-control", id: "focus",
          required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :assignment_type, t("assignments.fields.assignment_type"), class: "control-label" %>
        <%= f.select :assignment_type, options_from_collection_for_select(
          i18n_enum(:assignments, :assignment_type), :key, :value, f.object.assignment_type), {},
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date, t("assignments.fields.start_date"), class: "control-label" %>
        <%= f.datetime_field :start_date, class: "form-control", id: "focus",
          required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :end_date, t("assignments.fields.end_date"), class: "control-label" %>
        <%= f.datetime_field :end_date, class: "form-control", id: "focus",
          required: true, autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :content, t("assignments.fields.content"), class: "control-label" %>
        <%= f.cktext_area :content, class: "ckeditor" %>
      </div>

      <%= f.submit t("form.buttons.save"), data: {disable_with: t("form.buttons.saving")},
        class: "btn btn-primary btn-sm" %>
      <input type="button" class="btn btn-cancel" value="Cancel"/>
    <% end %>
  </div>
</div>
