<div id="show-assignment-modal" class="modal fade" role="dialog"
  data-backdrop="static" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-8">
            <h4 class="modal-title"></h4>
          </div>
          <div class="col-md-4">
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal">
                &times;
              </button>
              <% if current_user.student? %>
                <a data-toggle="modal" data-target="#submit-assignment-modal"
                  href="#" class="assignment-submit glyphicon glyphicon-education">
                </a>
              <% else %>
                <a data-toggle="modal" data-target="#new-assignment-modal"
                  href="#" class="assignment-edit glyphicon glyphicon-edit">
                </a>
                <a class="assignment-delete glyphicon glyphicon-trash" href="#">
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="col-md-4">
          <b><label><h4><%= t "assignments.fields.type" %></h4></label></b>
          <p class="assignment-type"></p>
        </div>
        <div class="col-md-4">
          <b><label><h4><%= t "assignments.fields.start_date" %></h4></label></b>
          <p class="assignment-start-time"></p>
        </div>
        <div class="col-md-4">
          <b><label><h4><%= t "assignments.fields.end_date" %></h4></label></b>
          <p class="assignment-end-time"></p>
        </div>
        <div class="col-md-12">
          <b><label><h4><%= t "assignments.fields.content" %></h4></label></b>
          <p class="assignment-content"></p>
        </div>
      </div>

      <div class="modal-footer">
        <%= link_to t("form.buttons.cancel"), "javascript:void(0)",
          data: {dismiss: "modal"} %>
      </div>
    </div>
  </div>
</div>
