<div id="assignments">
  <div class="box box-danger">
    <div class="box-header with-border">
      <h3 class="box-title">
        <strong>
          <%= t "assignments.assignment" %>
        </strong>
      </h3>

      <div class="box-tools pull-right">
        <div id="sorts" class="btn-group button-group">
          <button class="button is-checked" data-sort-by="name">
            <%= t "assignments.fields.name" %>
          </button>
          <button class="button" data-sort-by="start_date">
            <%= t "assignments.fields.start_date" %>
          </button>
          <button class="button" data-sort-by="end_date">
            <%= t "assignments.fields.end_date" %>
          </button>
          <button class="button" data-sort-by="type">
            <%= t "assignments.fields.type" %>
          </button>
        </div>
      </div>

      <div class="box-body no-padding">
        <div class="classes-list clearfix">
          <%= render @assignments %>
        </div>
      </div>
    </div>
  </div>
</div>
