<% if comment.id.present? %>
  <div id="comment-<%= comment.id %>">
    <p>
      <div>
        <%= link_to comment.user.email, comment.user %>
        <span class="pull-right dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <% if current_user.lecturer? %>
              <li class="approved">
                <%= render "comments/approved_link", comment: comment %>
              </li>
            <% end %>
            <% if can? :manage, comment %>
              <% if comment.post.present? %>
                <li>
                  <%= link_to edit_comment_path(comment), remote: true do %>
                    <i class="fa fa-pencil-square-o"></i>
                    <%= t "form.buttons.edit" %>
                  <% end %>
                </li>
                <li>
                  <%= link_to post_comment_path(comment.post, comment),
                    method: :delete, confirm: t("form.confirmation"),
                    remote: true do %>
                    <i class="fa fa-times"></i>
                    <%= t "form.buttons.delete" %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </span>
        <span><%= comment.content %></span>
      </div>
      <span class="comment-like">
        <% if current_user.like comment %>
          <%= render "likes/dislikes", like: current_user.like(comment), target: comment %>
        <% else %>
          <%= render "likes/likes", target: comment %>
        <% end %>
      </span>
      <% if comment.parent.nil? %>
        |
        <span>
          <%= link_to t("form.buttons.reply"), new_comment_path(comment.id),
            remote: true %>
        </span>
      <% end %> |
      <span class="timestamp">
        <%= t "posts.posted_ago", time: time_ago_in_words(comment.created_at) %>
      </span>
    </p>

    <div class="col-md-offset-1 col-md-11">
      <div id="comment-children-<%= comment.id %>"></div>
      <%= render comment.children.order(updated_at: :desc), from_reply_form: true %>

      <div class="reply-comment-<%= comment.id %>"></div>
    </div>
  </div>
<% end %>
