<div class="row tab-list">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
      <% Settings.class_room.students.tabs.each do |key, value|  %>
        <li role="presentation">
          <a href="#<%= key %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= t "class_rooms.students.tabs.#{key}" %>
          </a>
        </li>
      <% end %>
      <li class="pull-right">
        <%= render "class_actions" %>
      </li>
      <li class="pull-right">
        <%= link_to t("forums.forum"), class_room_forum_path(@class_room, @class_room.forum) %>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="class_rooms">
        <%= render "students/class_rooms/class_room_tab" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="members">
        <%= render "students/class_rooms/members_tab" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="online_tests">
        <%= render "students/class_rooms/online_test_tab" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="assignments">
        <%= render "students/class_rooms/assignments_tab" %>
      </div>
    </div>
  </div>
</div>
