<div class="box box-solid">
  <div class="box-header with-border">
    <%= render "students/class_rooms/class_header" %>
  </div>

  <div class="box-body">
    <div class="row">
      <div class="col-md-9">
        <div class="panel">
          <div class="panel-body">
            <h1><%= @class_room.name %></h1>
            <p>
              <%= @class_room.course.description %>
            </p>
          </div>
        </div>

        <div class="panel">
          <!-- Todo list -->
        </div>
      </div>

      <div class="col-md-3">
        <%= render "class_rooms/references_box" %>
        <%= render "class_rooms/evaluation_box" %>
        <%= render "class_rooms/members_box" %>
      </div>
    </div>
  </div>
</div>
