<div id="user-verification">
  <%= form_tag verifications_path do %>
    <div class="form-group">
      <div class="col-md-1">
        <%= label_tag t("users.fields.roles") %>
      </div>
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-3">
            <table class="table table-border">
              <tr>
                <td>
                  <%= radio_button_tag :role, :lecturer, checked: false %>
                  <%= label_tag t("users.roles.lecturer") %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= radio_button_tag :role, :student, checked: true %>
                  <%= label_tag t("users.roles.student") %>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= text_field_tag :uid, nil, class: "form-control", placeholder: t("users.fields.uid"),
        required: true %>
    </div>

    <div class="form-group">
      <%= submit_tag t("form.buttons.submit"), class: "btn btn-info" %>
      <%= link_to t("form.buttons.skip"), verifications_path(skip: true), method: :post %>
    </div>
  <% end %>
</div>
