<a href="#" class="dropdown-toggle btn"
  data-toggle="dropdown">
  <i class="glyphicon glyphicon-cog"></i>
</a>

<ul class="dropdown-menu" aria-labelledby="class_settings">
  <li>
    <%= link_to "#",
      data: {toggle: "modal", target: "#show-class-modal"} do %>
      <%= t "class_rooms.actions.detail" %>
    <% end %>
  </li>
  <li><a href="#"><%= t "class_rooms.actions.edit" %></a></li>
  <li role="separator" class="divider"></li>
  <li>
    <%= link_to t("class_rooms.actions.leave_class"),
      user_class_path(@class_room.lecturer),
      data: {confirm: t("form.confirmation")},
      method: :delete %>
  </li>
</ul>

<%= render "class_rooms/show_class_modal" %>
