<li class="class_room-<%= class_room.id %>">
  <%= link_to image_tag("/assets/fallback/default-user-img.png"), class_room %>
  <%= link_to class_room.uid, class_room, class: "users-list-name" %>
  <div><%= class_room.name %></div>
  <div><%= class_room.status %></div>
</li>
