<%= link_to class_room_assignments_path(@class_room) do %>
  <i class="fa fa-tasks"></i>
  <%= t "assignments.assignment" %>
<% end %> <br>
<%= link_to t("classrooms.tabs.questions"), class_room_questions_path(@class_room) %> <br>
<%= link_to t("forums.forum"), @class_room.forum %>


<div class="row tab-list">
  <div class="col-md-12">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
      <% Settings.class_room.tabs.each do |key, value|  %>
        <li role="presentation">
          <a href="#<%= key %>" aria-controls="home" role="tab" data-toggle="tab">
            <%= t "class_rooms.tabs.#{key}" %>
          </a>
        </li>
      <% end %>
      <li class="pull-right">
        <%= render "class_actions" %>
      </li>
      <li class="pull-right">
        <%= link_to t("forums.forum"), @class_room.forum %>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="class_rooms">
        <%= render "class_room_tab" %>
      </div>
      <div role="tabpanel" class="tab-pane" id="members">
        <%= render "members_tab" %>
      </div>
    </div>
  </div>
</div>
