<div class="box box-solid">
  <div class="box-header with-border">
    <%= render "class_header" %>
  </div>

  <div class="box-body">
    <div class="row tab-list">
      <div class="col-md-12">
        <ul class="nav nav-tabs" role="tablist" id="tabs">
          <% Settings.class_room.tabs.each do |key, value|  %>
            <li role="presentation">
              <a href="#<%= key %>" aria-controls="home" role="tab" data-toggle="tab">
                <%= t "class_rooms.tabs.#{key}" %>
              </a>
            </li>
          <% end %>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="class_rooms">
            <%= render "class_room_tab" %>
          </div>
          <div role="tabpanel" class="tab-pane" id="members">
            <%= render "members_tab" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
