<div id="class_rooms">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title"><%= t "class_rooms.all" %></h3>

      <div class="box-tools pull-right">
        <div id="sorts" class="btn-group button-group">
          <button class="button is-checked" data-sort-by="name">
            <%= t "class_rooms.fields.name" %>
          </button>
          <button class="button" data-sort-by="uid">
            <%= t "class_rooms.fields.uid" %>
          </button>
          <button class="button" data-sort-by="status">
            <%= t "class_rooms.fields.status" %>
          </button>
          <button class="button" data-sort-by="type">
            <%= t "class_rooms.fields.type" %>
          </button>
        </div>
      </div>
    </div>

    <div class="box-body no-padding">
      <div class="classes-list clearfix">
        <%= render @class_rooms %>
      </div>
    </div>
  </div>
</div>
