<header class="main-header">
  <%= render "shared/logo" %>

  <nav class="navbar navbar-static-top" role="navigation">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% unless current_user.admin? %>
            <li>
              <%= link_to t("class_rooms.class_room"), class_rooms_path %>
            </li>

            <li class="dropdown notifications-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-bell-o"></i>
                <span class="label label-warning">
                  <%= find_notifies(current_user).size %>
                </span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">
                  <%= t "users.views.number_notifications",
                    number: find_notifies(current_user).size %>
                </li>
                <li>
                  <ul class="menu">
                    <% find_notifies(current_user).limit(10).each do |notification| %>
                      <li class="notification-<%= notification.id %>">
                        <%= display_notification notification %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li class="footer"><a href="#">View all</a></li>
              </ul>
            </li>

            <li class="dropdown tasks-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-flag-o"></i>
                <% if load_remindes.any? %>
                  <span class="label label-danger">
                    <%= load_remindes.size  %>
                  </span>
                <% end %>
              </a>
              <ul class="dropdown-menu">
                <li class="header">
                  <%= t "users.views.number_reminders",
                    number: load_remindes.size %>
                </li>
                <% if load_remindes.any? %>
                  <li>
                    <ul class="menu">
                      <% load_remindes.each do |reminder| %>
                        <li>
                          <%= display_reminder reminder %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
                <li class="footer">
                  <a href="#">View all tasks</a>
                </li>
              </ul>
            </li>
          <% end %>
          <li class="dropdown user user-menu">
            <%= render "shared/user_menu" %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in fa-tw"></i>
              <%= t "users.title.sign_in" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
