<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <% if user_signed_in? && current_user.admin? %>
        <%= link_to t("static_page.app_name"), admin_root_path, class: "navbar-brand" %>
      <% else %>
        <%= link_to t("static_page.app_name"), root_path, class: "navbar-brand" %>
      <% end %>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
              <%= t "static_page.actions" %><i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("imports.import"), admin_imports_path %></li>
              <li><%= link_to t("semesters.semester"), admin_semesters_path %></li>
              <li><%= link_to t("courses.course"), admin_courses_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("class_rooms.class_room"), class_rooms_path %></li>
        <% end %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "" do %>
                <i class="fa fa-user fa-fw"></i>
                <%= t "users.views.menu.profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-gear fa-fw"></i>
                <%= t "users.views.menu.setting" %>
              <% end %>
            </li>
            <li class="divider"> </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out fa-tw"></i>
                <%= t "users.title.sign_out" %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in fa-tw"></i>
            <%= t "users.title.sign_in" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
