<%= form_for [@class_room, @document], html: {multipart: true} do |f| %>
  <%= render "shared/errors_messages", object: @document %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :class_room_id, value: @class_room.id %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control",
      placeholder: t("documents.placeholder.enter_title") %>
  </div>

  <div class="form-group">
    <%= f.label :attachment %>
    <%= f.file_field :attachment %>
  </div>

  <%= f.submit t("form.buttons.save"),
    data: {disable_with: t("form.buttons.saving")},
    class: "btn btn-primary" %>
<% end %>
