<div class="col-md-6">
  <div class="row">
    <%= form_for @user_class, remote: true do |f| %>
      <div id="errors-enroll-class"></div>

      <%= f.hidden_field :class_room_id, value: @class_room.id %>
      <div class="form-group">
        <%= f.label :key, t("class_rooms.fields.uid"), class: "control-label" %>
        <%= f.password_field :key, class: "form-control", id: "focus", required: true, autofocus: true %>
      </div>

      <%= f.submit t("form.buttons.save"), data: {disable_with: t("form.buttons.saving")},
        class: "btn btn-primary btn-sm" %>
      <input type="button" class="btn btn-cancel-login-class" value="Cancel"/>
    <% end %>
  </div>
</div>
