<% if post.id.present? %>
  <div id="post-<%= post.id %>" class="panel">
    <div class="panel-heading">
      <%= link_to post.user.email, post.user %>
      <span class="pull-right dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <% if current_user.lecturer? %>
            <li class="approved">
              <%= render "posts/approved_link", post: post %>
            </li>
          <% end %>
          <% if can? :manage, post %>
            <li>
              <%= link_to edit_forum_post_path(@forum, post),
                remote: true do %>
                <i class="fa fa-pencil-square-o"></i>
                <%= t "form.buttons.edit" %>
              <% end %>
            </li>
            <li>
              <%= link_to forum_post_path(@forum, post),
                method: :delete, confirm: t("form.confirmation") do %>
                <i class="fa fa-times"></i>
                <%= t "form.buttons.delete" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </span>
      <div class="timestamp">
        <%= t "posts.posted_ago", time: time_ago_in_words(post.created_at) %>
      </div>
    </div>

    <div class="panel-body">
      <p class="content">
        <%= post.content %>
      </p>
      <span class="post-like">
        <% if current_user.like post %>
          <%= render "likes/dislikes", like: current_user.like(post) %>
        <% else %>
          <%= render "likes/likes", target: post %>
        <% end %>
      </span>
    </div>

    <div class="panel-footer">
      <div id="comment-new-<%= post.id %>"></div>
      <%= render post.comments.order(updated_at: :desc) %>

      <%= render "comments/form", post: post %>
    </div>
  </div>
<% end %>
