<p>
  <%= t "devise.mailer.reset_password_instructions.content.welcome", email: @resource.email %>!
</p>

<p>
  <%= t "devise.mailer.reset_password_instructions.content.sentence1" %>.
</p>

<p>
  <%= link_to t("devise.mailer.reset_password_instructions.content.action_link"),
    edit_password_url(@resource, reset_password_token: @token) %>
</p>

<p><%= t "devise.mailer.reset_password_instructions.content.sentence2" %>.</p>
<p><%= t "devise.mailer.reset_password_instructions.content.sentence3" %>.</p>
