<div class="box box-danger box-solid">
  <div class="box-header with-border">
    <h3 class="box-title">
      <strong><%= t "courses.title.course_syllabus" %></strong>
    </h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse">
        <i class="fa fa-minus"></i>
      </button>
      <div class="btn-group">
        <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-wrench"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to t("syllabuses.title.new"),
              new_admin_course_syllabus_path(@course) %>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-box-tool" data-widget="remove">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

  <div class="box-body">
    <table class="table table-border">
      <thead>
        <tr>
          <th><%= t "courses.title.syllabus_week" %></th>
          <th><%= t "courses.title.syllabus_content" %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @syllabuses.each do |syllabus| %>
          <tr>
            <td>
              <strong>
                <%= syllabus.week %>
              </strong>
            </td>
            <td>
              <strong>
                <%= syllabus.title %>
              </strong>
              <% syllabus.syllabus_details.each do |syllabus_detail| %>
                <div>
                  <%= syllabus_detail.title %>
                </div>
              <% end %>
            </td>
            <td>
              <%= link_to edit_admin_course_syllabus_path(@course, syllabus) do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <% end %>
              <%= link_to admin_course_syllabus_path(@course, syllabus),
                method: :delete, data: {confirm: t("form.confirmation")} do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
