<div class="row">
  <div class="col-md-12">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.text_field :title, class: "form-control",
          placeholder: t("syllabuses.title") %>
      </div>
    </div>
    <div class="col-xs-5">
      <div class="form-group">
        <%= f.number_field :week, class: "form-control", min: 1,
          placeholder: t("syllabuses.week") %>
      </div>
    </div>
    <div class="col-md-1">
      <%= f.hidden_field :_destroy %>
      <%= link_to "#", class: "remove_fields" do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
  <div class="col-md-12">
    <%= f.fields_for :syllabus_details do |sd| %>
      <%= render "syllabus_detail_field", f: sd %>
    <% end %>
    <%= link_to_add_fields "Add details", f, :syllabus_details, :syllabuses %>
  </div>
</div>
