<div id="courses">
  <div class="title-course">
    <h3 class="title"><%= t "courses.all" %></h3>
  </div>
  <div class="list-all">
    <div class="devide"></div>
    <table class="courses">
      <thead>
        <tr class="theader">
          <th class="stt"><strong>#</strong></th>
          <th class="uid">
            <strong><%= t "courses.fields.uid" %></strong>
          </th>
          <th class="name">
            <strong><%= t "courses.fields.name" %></strong>
          </th>
          <th class="description">
            <strong><%= t "courses.fields.description" %></strong>
          </th>
          <th class="language">
            <strong><%= t "courses.fields.language" %></strong>
          </th>
          <th class="evaluation">
            <strong><%= t "courses.fields.evaluation" %></strong>
          </th>
          <th class="action">
            <strong><%= t "courses.fields.action" %><strong>
          </th>
        </tr>
      </thead>
      <tbody class="tbody">
        <%= render @courses %>
      </tbody>
    </table>

    <div class="course-new">
      <div id="new-course"><%= render "form" %></div>
      <div class="btn-new-course btn btn-primary">
        <%= t "form.buttons.add_more" %>
      </div>
    </div>
  </div>
</div>

