<div class="course-config">
  <%= render "nav_bar" %>
</div>
<div id="class_rooms">
  <h2>
    <b class="class-in-course"><%= t "courses.class_rooms", course: @course.uid %></b>
    <%= link_to "#", data: {toggle: "modal", target: "#new-class-modal"} do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h2>
  <table class="class_rooms table table-hover">
    <thead><%= render "admin/class_rooms/header" %></thead>
    <tbody class="tbody">
      <%= render "admin/class_rooms/class_room", class_rooms: @course.class_rooms %>
    </tbody>
  </table>
</div>

<%= render "edit_course_modal" %>
<%= render "show_course_modal" %>
<%= render "admin/class_rooms/new_class_modal" %>
